<h2>Hi <%= @user.displayed_name %>,</h2>

<p>die neue Getränkerechnung ist hier:
<%= tab_url(@tab) %></p>

<table>
<thead>
<tr>
	<th>Getränk</th>
	<th>Anzahl</th>
	<th>Kosten</th>
	<th>Gesamt</th>
</tr>
</thead>
<tbody>
<% @tab.grouped_beverage_tabs.each do |bt| %>
<tr>
	%td= bt[0][0]
	%td.text-center= bt[1]
	%td.text-center= number_to_currency bt[0][2]
	%td.text-center= number_to_currency(bt[0][2] * bt[1])
</tr>
<% end %>
</tbody>
</table>

<p>Gesamtkosten: <%= number_to_currency(@tab.total_invoice) %></p>

<p>Bitte bezahle möglichst bald.</p>

<p>Viele Grüße <br/>
Der Kühlschrank</p>
