<div class="actions">
	<h1><%= t '.headline' %></h1>
	<%= link_to content_tag(:span, t('actions.cancel'), :class => "icon-cancel-1"), people_path, :class => "button small round secondary" %>
</div>

<%= render 'form' %>