<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th><%=t User.human_attribute_name(:firstname) %></th>
      <th><%=t User.human_attribute_name(:lastname) %></th>
    </tr>
  </thead>

  <tbody>
    <%= render @users %>
  </tbody>
</table>

<br />
