<div class="actions">
	<h1>Neuen Eintrag erstellen</h1>
	<a href="<%= users_path %>" class="button small round secondary">
		<span class="icon-cancel-1"> Abbrechen</span>
	</a>
</div>

<%= render 'form' %>