Die folgende Tabelle Listet alle Shortcuts die im Editor zur Verfügung stehen.

<table>
	<thead>
		<tr>
			<td></td>
			<td>OS X</td>
			<td>Windows</td>						
		</tr>
	</thead>
	<tr>
		<td>Undo</td>	
		<td><kbd>Cmd + z</kbd></td>
		<td><kbd>Ctrl + z</kbd></td>		
	</tr>
	<tr>
		<td>Redo</td>
		<td><kbd>Cmd + Shift + z</kbd></td>
		<td><kbd>Ctrl + Shift + z</kbd></td>				
	</tr>
	<tr>
		<td>Increase indent</td>
		<td><kbd>Tab</kbd></td>
		<td><kbd>Tab</kbd></td>				
	</tr>
	<tr>
		<td>Decrease indent</td>
		<td><kbd>Shift + Tab</kbd></td>
		<td><kbd>Shift + Tab</kbd></td>				
	</tr>
	<tr>
		<td>Clear formatting</td>
		<td><kbd>Cmd + m</kbd></td>
		<td><kbd>Ctrl + m</kbd></td>				
	</tr>
	<tr>
		<td>Bold</td>
		<td><kbd>Cmd + b</kbd></td>
		<td><kbd>Ctrl + b</kbd></td>				
	</tr>
	<tr>
   	<td>Italic</td>
   	<td><kbd>Cmd + i</kbd></td>
   	<td><kbd>Ctrl + i</kbd></td>				
	</tr>	                            			
	<tr>
		<td>Numbered list</td>
		<td><kbd>Cmd + k</kbd></td>
		<td><kbd>Ctrl + k</kbd></td>				
	</tr>
	<tr>
		<td>Bulleted list</td>
		<td><kbd>Cmd + j</kbd></td>
		<td><kbd>Ctrl + j</kbd></td>				
	</tr>
	<tr>
	 	<td>Superscript</td>
	 	<td><kbd>Cmd + l</kbd></td>
	 	<td><kbd>Ctrl + l</kbd></td>				
	</tr>	                            	
	<tr>
		<td>Subscript</td>
		<td><kbd>Cmd + h</kbd></td>
		<td><kbd>Ctrl + h</kbd></td>				
	</tr>
</table>