%div{:class => 'actions'}
	%h1=t('.greeting', name: current_user.firstname)

-if alert
	%div.alert-box.notice.warning=alert

%br
%div.row
	%div.small-12.large-12.columns
		%div.panel
			%h4= t 'tabs.index.running_tab'
			=render 'tabs/running_tab', :tab => @running_tab
			%h4= t 'tabs.index.unpaid_tabs'
			=render 'tabs/tabs', :tabs => @unpaid_tabs
%div.row
	%div.small-12.large-6.column
		%div.panel
			=render 'tabs/stats', :stat_data => @stat_data
	%div.small-12.large-6.column
		%div.panel
			=render 'people/birthdays', :people => @birthday_people
