%div{:class => 'actions'}
	%h1 Oh, hi #{current_user.displayed_name}

%br
%div.row
	%div.small-12.large-12.columns
		%div.panel
			%h4 Offene Rechnungen
			-if @unpaid_tabs.any?
				%table
					%colgroup
						%col{:width => "60%"}
						%col{:width => "40%"}
					%thead
						%th.text-left Datum
						%th.text-right Betrag
					%tbody 
						- @unpaid_tabs.each do |tab|
							%tr 
								%td=link_to tab.created_at, tab_path(tab)
								%td.text-right
									= "%.2f" % tab.total_invoice
									&euro;
						%tr
							%td.text-left Gesamt
							%td.text-right
								= "%.2f" % current_user.debts
								&euro;
			-else
				Keine offenen Rechnungen
%div.row
	%div.small-12.large-6.column
		%div.panel
			%h4 Personensuche
			%form
				%input{:type => "text", :placeholder => "Value"}
				%div.submit
					%input.button{:type => "submit", :value => "Suchen"}
	%div.small-12.large-6.column
		%div.panel
			%h4 Geburtstage
			%ul
				%li ...
				%li ...
				%li ...