%h2 Annahme von früheren Protokollen


%ul
  = render partial: "minutes/approvements/approvement", collection: @minutes_minute.approvements, as: :approvement

- if (can? :update, @minutes_minute) and (Minutes::Minute.released != [])
  Protokolle zu folgenden Sitzungen sind veröffentlicht, aber nicht genehmigt:
  = Minutes::Minute.released.map{|x| l x.date }.join ", "
  %br
    = link_to small_button('Neues Protokoll annehmen'), new_minutes_minute_approvement_path(@minutes_minute)