= render partial: '/shared/modal', locals: {id: "topdel", headline: "Sicher?", text: "Möchtest du diesen TOP wirklich unwiederruflich löschen?", link_text: "Löschen"}

= render partial: '/shared/modal', locals: {id: "requestdel", headline: "Sicher?", text: "Möchtest du diesen Antrag wirklich unwiederruflich löschen?", link_text: "Löschen"}

= render partial: '/shared/modal', locals: {id: "draftcon", headline: "Sicher?", text: "Möchtest du den aktuellen Stand des Protokolls wirklich als Entwurf versenden?", link_text: "Entwurf versenden"}

= render partial: '/shared/modal', locals: {id: "publishcon", headline: "Sicher?", text: "Möchtest du dieses Protokoll wirklich veröffentlichen?", link_text: "Veröffentlichen"}