.minute-toplist.with-utils
	%h2
		Tagesordnung
	%ol
		- @minutes_minute.item_titles.each_with_index do |item, index|
			%li
				%a{'href' => "#top#{index}"}
					= item
.utils
	= link_to t('actions.new', model: Minutes::Item.model_name.human),  new_minutes_minute_item_path(@minutes_minute)
