%h1 Neues Protokoll

-#
  %p.secondary.button#new_minute_tour
    %span.icon-help
    Tour

= render 'form'

= link_to t('actions.back'), minutes_minutes_path

-#
  %ol#new_minute_ride
    %li{ 'data-id' => 'minutes_minute_date' } Foobar
    %li{ 'data-id' => ''}
    %li{ 'data-id' => ''}
    %li{ 'data-id' => ''}
    %li{ 'data-id' => ''}
    %li{ 'data-id' => ''}
