<% if tab.nil? %>
  <div class="list-table">
    <%=t '.nothing_on_tab' %>
  </div>
  <div class="one buttons">
    <%= link_to "Rechnung anlegen", new_tab_path %>
  </div>
<% else %>
  <% if can? :edit, tab %>
  <div class="one buttons">
    <%=link_to "Bearbeiten", edit_tab_path(tab) %>
  </div>
  <% end %>
  <%= render tab %>
<% end %>
