.small-12.large-10.column
    .panel
        %h4 Daily stats
        .chart_container
            #daily_chart.chart
        %h4 Hourly stats
        .chart_container
            #hourly_chart.chart

-content_for :scripts do
    :javascript
        new Dygraph(document.getElementById("daily_chart"),
        #{@daily_data[:data]},
        {labels: #{@daily_data[:labels]}}
        );

        new Dygraph(document.getElementById("hourly_chart"),
        #{@hourly_data[:data]},
        {labels: #{@hourly_data[:labels]}}
        );

