.row
    .small-12.large-6.column
        .panel
            %h4 Daily stats
            .chart_container
                #daily_y_axis.y_axis
                #daily_chart.chart

    .small-12.large-6.column
        .panel
            %h4 Hourly stats
            .chart_container
                #hourly_y_axis.y_axis
                #hourly_chart.chart

-content_for :scripts do
    :javascript
        var palette = new Rickshaw.Color.Palette();
        var daily_data = #{@daily_stat_data.to_json}

        daily_data.map(function(item){item['color'] = palette.color()});

        var graph = new Rickshaw.Graph( {
            element: document.querySelector("#daily_chart"),
            renderer: 'line',
            series: daily_data
        } );
        var x_axis = new Rickshaw.Graph.Axis.Time( { 
            graph: graph,
        } );
        var y_axis = new Rickshaw.Graph.Axis.Y( {
                graph: graph,
                orientation: 'left',
                element: document.getElementById('daily_y_axis')
        } );

        graph.render();    

        var hoverDetail = new Rickshaw.Graph.HoverDetail( {
            graph: graph,
            formatter: function(series, x, y) {
                var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
                var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
                var content = swatch + series.name + ": " + parseInt(y) + '<br>' + date;
                return content;
            }
        } );

        var hourly_data = #{@hourly_stat_data.to_json}

        hourly_data.map(function(item){item['color'] = palette.color()});

        var graph = new Rickshaw.Graph( {
            element: document.querySelector("#hourly_chart"),
            renderer: 'line',
            series: hourly_data
        } );
        var x_axis = new Rickshaw.Graph.Axis.Time( { 
            graph: graph,
        } );
        var y_axis = new Rickshaw.Graph.Axis.Y( {
                graph: graph,
                orientation: 'left',
                element: document.getElementById('hourly_y_axis')
        } );

        graph.render();    

        var hoverDetail = new Rickshaw.Graph.HoverDetail( {
            graph: graph,
            formatter: function(series, x, y) {
                var date = '<span class="date">' + new Date(x * 1000).toUTCString() + '</span>';
                var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
                var content = swatch + series.name + ": " + parseInt(y) + '<br>' + date;
                return content;
            }
        } );

