.row
    .small-12.large-10.column
        .panel
            %h4 Daily stats
            #daily_chart.chart
            %br
            #daily_slider
    .small-12.large-2.column
        #daily_legend.rickshaw_legend
.row
    .small-12.large-10.column
        .panel
            %h4 Hourly stats
            #hourly_chart.chart
            %br
            #hourly_slider
    .small-12.large-2.column
        #hourly_legend.rickshaw_legend


-content_for :scripts do
    :javascript
        function renderGraph(name, data) {
            var palette = new Rickshaw.Color.Palette({scheme: 'colorwheel'});

            for(var i in data) {
                data[i]['color'] = palette.color(i);
            }

            var graph = new Rickshaw.Graph( {
                element: document.getElementById(name+'_chart'),
                renderer: 'bar',
                series: data
            } );

            var x_axis = new Rickshaw.Graph.Axis.Time( { 
                graph: graph,
            } );

            var y_axis = new Rickshaw.Graph.Axis.Y( {
                    graph: graph,
            } );

            graph.render();    

            var hoverDetail = new Rickshaw.Graph.HoverDetail( {
                graph: graph,
                formatter: function(series, x, y) {
                    var swatch = '<span class="detail_swatch" style="background-color: ' + series.color + '"></span>';
                    var content = swatch + series.name + ": " + parseInt(y);
                    return content;
                }
            });

            var legend = new Rickshaw.Graph.Legend({
                graph: graph,
                element: document.getElementById(name+'_legend')
            });

            var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
                graph: graph,
                legend: legend
            });

            var toggle = new Rickshaw.Graph.Behavior.Series.Toggle({
                graph: graph,
                legend: legend
            });

            var order = new Rickshaw.Graph.Behavior.Series.Order({
                graph: graph,
                legend: legend
            });

            var slider = new Rickshaw.Graph.RangeSlider({
                    graph: graph,
                    element: $('#'+name+'_slider')
            });
        }

        renderGraph('hourly', #{@hourly_stat_data.to_json})
        renderGraph('daily', #{@daily_stat_data.to_json})
