.small-12.large-12.column
    .panel
        %h4 Daily stats
        #daily_chart.chart{style: "width:500px; height: 500px"}

        %h4 Hourly stats
        #hourly_chart.chart{style: "width:500px; height: 500px"}

-content_for :scripts do
    :javascript
        function stats_graph(container, data) {
          graph = Flotr.draw(container,data
          , {
            xaxis: {
                mode: 'time'
            },
            bars: {
                show : true,
                stacked : true,
                horizontal : false,
                barWidth : 0.6,
                lineWidth : 1,
                shadowSize : 0
            },
            mouse: {
                track: true,
                trackAll: true,
                position: 'se',
            }
          });
        }

        var d1=#{@hourly_data.to_json}
        var d2=#{@daily_data.to_json}

        stats_graph(document.getElementById("hourly_chart"), d1);
        stats_graph(document.getElementById("daily_chart"), d2);
