<div class="actions">
	<h1><%=t '.headline', :date => l(@minute.date, :format => :short) %></h1>
	<%= link_to content_tag(:span, ' Zurück', :class => "icon-left-fat"), minutes_path, :class => "button small round secondary" %>
	<%= link_to content_tag(:span, ' Anzeigen', :class => "icon-eye-1"), @minute, :class => "button small round secondary" %>
	<a onclick="joyride_tutorial()" class="button small round secondary"><span class="icon-help-circled">Tutorial</span></a>
</div>

<%= render 'form' %>