=form_tag({controller: "tally_sheets", action: "update_list"}) do
  / = select_tag("new",options_for_select(User.all.collect {|p| [p.displayed_name, p.id] }), :include_blank => true, :multiple => true, :class => ['chosen-field','chosen-select'])
  =label_tag("new")
  =select_tag("new",options_for_select(@new_candidates.map{|u| [u.displayed_name, u.id]}), :include_blank => true, :multiple => true, :class => 'chosen-select')
  =label_tag("delete")
  =select_tag("delete",options_for_select(@delete_candidates.map{|u| [u.displayed_name, u.id]}), :include_blank => true, :multiple => true, :class => 'chosen-select')
  =submit_tag()

:javascript
  $('.chosen-select').chosen()