<% require "barby/barcode/code_128" %>
<% require "barby/outputter/svg_outputter" %>

<% user_prefix = 'user__' %>
<% barcode_width = 280 %>
<% barcode_height = 50 %>

<meta charset="utf-8">
<%= wicked_pdf_stylesheet_link_tag "documents" %>

<style type="text/css">
  .barcode {
    margin-bottom: 15px;
    width: <%= barcode_width %>;
    text-align: center;
    float: left;
    display: block;
  }
</style>

<div class="document">
  <% @users.each do |user| %>
    <div class="barcode"> 
      <% barcode = Barby::Code128B.new("#{user_prefix}#{user.loginname}") %>
      <img src="data:image/svg+xml;base64,<%= Base64.encode64(barcode.to_svg({height: barcode_height, width: barcode_width})) %>"><br />
      <%= user.displayed_name %>
    </div>
  <% end %>
</div>
