$ ->
  $('.tab_paid')
    .bind 'ajax:beforeSend', () ->
      set_loading
    .bind 'ajax:success', (event, data, status, xhr) ->
      update_dom($(this).data('id'))
      json = jQuery.parseJSON(xhr.responseText)
      $('#ajax-feedback').replaceWith("<div id='ajax-feedback' class='alert-box success' width='100%'>"+json.feedback+"</div>")
    .bind 'ajax:error', (event,xhr,status) ->
      $('#ajax-feedback').replaceWith("<div id='ajax-feedback' class='alert-box alert' width='100%'>"+There was an error, please reload the page+"</div>")
  # $('.mark_tab_as_paid')
  #   .bind 'ajax:beforeSend', () ->
  #     set_loading
  #   .bind 'ajax:success', (event, xhr, status) ->
  #     $(this).replaceWith('<a class="button small success round secondary disabled">Habe ich bereits als bezahlt markiert</>')
  $("#paid").dataTable({"bFilter": false, "bLengthChange": false})

set_loading = () ->
  # TODO: do something?

update_dom = (id) -> 
  $('#tab_row_'+id).remove()
