@mixin inline-field {
	label {
		@include prefix-postfix-base;
		@include prefix;
		@include grid-column($columns: 4);
		@media #{$small} {
			@include grid-column($columns: 3);
		}
	}

	input[type="text"], input[type="date"], input[type="password"], textarea, select {
		@include grid-column($columns: 8);
		@media #{$small} {
			@include grid-column($columns: 9);
		}
	}

	textarea {
		min-height: 0;
		&:focus {
			min-height: 10em;
		}
	}
}

form {
	&.inline {
		@include inline-field;
	}

	.inline-field {
		@include inline-field;
		br { display: none; }
	}

	.submit {
		text-align: right;
		margin-right: 1px;
	}

	.redactor-field { clear: both; }
}