@mixin inline-field {
	label {
		@include prefix-postfix-base;
		@include prefix;
		float: left;
		width: 33%;
		@media #{$small} {
			width: 25%;
		}
	}

	input[type="text"], input[type="date"], input[type="password"], textarea, select {
		width: 67%;
		@media #{$small} {
			width: 75%;
		}
	}

	textarea {
		min-height: 0;
		&:focus {
			min-height: 10em;
		}
	}
}

form {
	&.inline {
		@include inline-field;
	}

	.inline-field {
		@include inline-field;
		br { display: none; }
	}

	.submit {
		text-align: right;
		margin-right: 1px;
	}

	.redactor-field { clear: both; }

	.chosen-field {
		clear: both;
		margin-bottom: emCalc(16px);

		.chzn-container {
			/* Overriding graceful Chosen defaults. Now it looks like a charm */
			height: emCalc(37px); // somewhere in foundation this number is calculated -> don't know how
			font-size: $input-font-size;

			.chzn-single {
				border-color: $input-border-color;
				-webkit-box-shadow: none;
				-moz-box-shadow   : none;
				box-shadow        : none;
			}

			a.chzn-single, a.chzn-single span {
				height: 100%;
				line-height: emCalc(37px);

				.search-choice-close, div b {
					margin-top: 4px;
				}
			}

			.chzn-search input, .chzn-drop {
				width: 100% !important;
			}

			&.chzn-container-active .chzn-single {
				-webkit-box-shadow: none;
				-moz-box-shadow   : none;
				box-shadow        : none;
				border: 1px solid $input-focus-border-color;
			}
		}
	}
}