table {
	width: 100%;
	margin-top: .5em;
}

.center {
	text-align: center;
}

.no-linebreak {
	white-space: nowrap;
}

.small {
	font-size: 88%;
}

.tiny {
	font-size: 75%;
}

.actions {
	h1 {
		display: inline;
		margin-right: .35em;
	}
	a {
		vertical-align: middle;
		margin-bottom: 1.75em;
	}
}

.user-details {
	th { text-align: left; }
}

#notice {
	@include alert;
}