form table tbody tr td input[type="text"] {
	margin: 0;
}

table.high-vis tbody tr {
	@mixin tr-color-schema($bg, $font, $border:#222) {
		background-color: $bg;
		td {
			color: $font;
			input, input:focus {
				background-color: lighten($bg, 4%);
				color: $font;
				border-color: lighten($bg, 12%);
				&:focus {
					border-color: red;
				}
			}
		}
	}

	$high-vis-color-1: #f6f6f6; $high-vis-color-2: #222;
	@include tr-color-schema($high-vis-color-1, $high-vis-color-2);
	&:nth-of-type(even) { @include tr-color-schema($high-vis-color-2, $high-vis-color-1); }
}