<div id="footer" class="contain-to-grid">
	<div class="row">
		<div class="small-9 small-centered columns">
			<strong>FSIntra2013</strong> -- the nicer way to fach schaft<br />
			<%= link_to 'Wiki-Handbuch', 'http://babelfish.fachschaft.cs.uni-kl.de/doku.php?id=it:fsintra2013', :target => "_blank" %> |
			<%= link_to 'Bugtracker (Github)', 'https://github.com/contradictioned/FSIntra2013/issues', :target => "_blank" %> |
			<%= link_to 'Fachschaft', 'http://www.fachschaft.cs.uni-kl.de/', :target => "_blank" %> |
			<%= link_to 'Fachbereich', 'http://www.cs.uni-kl.de/', :target => "_blank" %>
		</div>
	</div>
</div>